/* Y축 애니메이션 */
@keyframes fadeInY {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes floatY {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-fade-in-float {
  opacity: 0;

  animation:
    fadeInY 0.3s ease-out 0.5s forwards,
    floatY 2.2s ease-in-out 0.5s infinite;
}

/* Location Y축 애니메이션 */
@keyframes floatHeroY {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-float-hero-y {
  animation: floatHeroY 1.5s ease-in-out forwards;
}
