@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@layer base {
  input:focus,
  textarea:focus,
  select:focus {
    @apply outline-none ring-0;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-col-center {
    @apply flex flex-col items-center justify-center;
  }

  .mouse-hover {
    @apply transition-colors duration-100;
  }

  .u-ellipsis {
    @apply overflow-hidden text-ellipsis whitespace-nowrap;
  }
}
